<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Adigamov Ruslan</title>
  </head>
  <!-- v-on = @, o-bind = :  -->
  <body>
    <div class="container" id="app">
      <div class="card">
        <h1>Список студентов</h1>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae
          incidunt, fugit consequatur assumenda itaque dolor adipisci
          dignissimos sed cum labore nisi ipsa amet laboriosam, eius accusamus
          nulla, rem iusto dolorem.
        </p>
        <h2>Форма</h2>
        <form action="#">
          <label for="sname">Фамилия:</label>
          <input
            type="text"
            id="sname"
            v-bind:placeholder="placeholderSurname"
            v-model="inputValueSurname"
            v-on=""
          />
          <label for="fname">Имя:</label>
          <input
            type="text"
            id="fname"
            v-bind:placeholder="placeholderName"
            v-model="inputValueName"
          />
          <div class="counter">Количество знаков: {{calcCounter()}}</div>
          <button
            class="btn"
            v-on:click="addNewNote"
            v-bind:disabled="isButtonDisabled"
            v-on:click="addNewNote"
          >
            Записать
          </button>
        </form>
        <hr />
        <h2>Список</h2>
        <div v-if="notes.length === 0">Список пуст</div>
        <div v-else>
          <ul class="list">
            <li class="list-item" v-for="(myNote, idx) in notes">
              {{idx + 1}}. {{myNote}}
            </li>
          </ul>
          <button class="btn" id="clearBtn" v-on:click="clearList">
            Очистить
          </button>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
  </body>
</html>
